{{define "content"}}
<div class="p-0">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" class="col-4 ps-4">标题</th>
            <th scope="col" class="col-6">简介</th>
            <th scope="col" class="col-1 text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        {{range .body}}
        <tr>
            <td class="col-4 text-truncate ps-4" style="max-width: 400px;">
                <i class="bi bi-record2 me-2"></i>
                <a href="/doc/{{.UrlID}}" target="_blank">{{.Title}}</a>
            </td>
            <td class="col-7 text-truncate" style="max-width: 600px;">
                {{.Brief}}
            </td>
            <td class="col-1 text-center">
                <a href="/admin/update/{{.UrlID}}">修改</a>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{end}}