{{define "content"}}
<form class="flex-column d-flex flex-fill" action="/admin/update" method="post">
    <div class="flex-column d-flex flex-fill px-4 py-3">
        <input type="hidden" name="url_id" value="{{.body.UrlID}}">
        <div class="flex-column flex">
            <label class="control-label fs-c8">标题</label>
            <div class="mt-2">
                <input type="text" name="title" class="form-control" value="{{.body.Title}}">
            </div>
        </div>
        <div class="d-flex flex-column flex-fill">
            <div class="d-flex mt-3 fs-c8">
                简介
            </div>
            <div class="flex-column d-flex mt-3">
                <textarea name="brief" class="form-control flex-fill">{{.body.Brief}}</textarea>
            </div>
            <div class="d-flex mt-3 fs-c8">
                描述（Markdown）
            </div>
            <div class="flex-column d-flex flex-fill mt-3" style="height: 0;">
                <textarea id="MyID" name="body" class="form-control flex-fill">{{.body.Body}}</textarea>
            </div>
            <div>
                <input type="button" id="update" value="更新" class="form-control mt-3">
            </div>
        </div>
    </div>
</form>
{{end}}