{{define "_header"}}<div id="header" style="flex: 0 0 80px;">
    <div class="d-flex text-start" style="height:80px;margin:0 auto 0 auto;">
        <div class="d-flex flew-row flex-fill" style="height: 80px;">
            <div>
                <a href="/" class="d-flex"><img src="/banner.png" height="80"></a>
            </div>
            <div class="flex-fill"></div>
        </div>
        <div class="d-flex flex-column me-4 h-100">
            <div class="d-flex flex-fill align-items-center justify-items-center text-end" style="letter-spacing: 4px;">
                <span class="flex-fill linker"><a href="/docs">文档</a></span>
                <span class="flex-fill linker"><a href="/articles">技术文章</a></span>
                <span class="flex-fill linker"><a href="/about">关于网站</a></span>
                <span class="flex-fill linker"><a href="/reward">打赏站长</a></span>
                <span class="flex-fill linker"><a href="/admin/list">站长管理</a></span>
            </div>
            <div class="d-flex flex-fill align-items-center justify-items-center" style="border-top: 1px dashed #18ADB8;color:#999999;letter-spacing: 4px;">
                此网站是go-water框架的官方网站
            </div>
        </div>
    </div>
</div>{{end}}