<div id="header" style="flex: 0 0 80px;">
    <div style="max-width: 1300px;">
        <div style="height:80px;margin:0 auto 0 auto;text-align:left;display: flex;">
            <div style="flex: 1;height: 80px;"><a href="/" style="margin: 0;padding: 0;display: flex;"><img src="/banner.png" height="80"></a></div>
            <div style="margin-right: 30px;text-align: right;display: flex;flex-direction: column;height: 100%;">
                <div style="display: flex;flex: 1;align-items: center;">
                    <span style="overflow:hidden;margin-left:5px;"><a href="/links/ae45beba-f0ed-11e9-81b7-0242ac120004" style="color:#C32528;font-weight:300;">Golang</a></span>
                    <span style="overflow:hidden;margin-left:50px;text-align:right;"><a href="/links/ae45be7c-f0ed-11e9-81b7-0242ac120004" style="color:#C32528;font-weight:300;">DotNet</a></span>
                    <span style="overflow:hidden;margin-left:50px;text-align:right;"><a href="/links/ae45bd8d-f0ed-11e9-81b7-0242ac120004" style="color:#C32528;font-weight:300;">数据库</a></span>
                    <span style="overflow:hidden;margin-left:50px;text-align:right;"><a href="/links/ae45bd20-f0ed-11e9-81b7-0242ac120004" style="color:#C32528;font-weight:300;">前端框架</a></span>
                    <span style="overflow:hidden;margin-left:50px;text-align:right;"><a href="/cuslinks" style="color:#C32528;font-weight:300;">网摘</a></span>
                    <span style="overflow:hidden;margin-left:50px;text-align:right;"><a href="/articles" style="color:#C32528;font-weight:300;">原创</a></span>
                    <span style="overflow:hidden;margin-left:50px;text-align:right;"><a href="https://github.com/iissy" style="color:#C32528;font-weight:300;" target="_blank">网站源码</a></span>
                    <span style="overflow:hidden;margin-left:50px;text-align:right;"><a href="/reward" style="color:#C32528;font-weight:300;">打赏站长</a></span>
                </div>
                <div style="display: flex;flex: 1;border-top: 1px dashed #18ADB8;text-align: center;color:#999999;align-items: center;letter-spacing: 4px;">
                    程序员常用的网址，新技术、新框架、开源社区动态，优秀博客转摘，站长原创技术文章
                </div>
            </div>
        </div>
    </div>
</div>