<div id="header" style="flex: 0 0 80px;">
    <div style="max-width: 1300px;">
        <div style="height:80px;margin:0 auto 0 auto;text-align:left;display: flex;">
            <div style="display: flex;flex-direction: row;flex: 1;height: 80px;">
                <div>
                    <a href="/" style="margin: 0;padding: 0;display: flex;"><img src="/banner.png" height="80"></a>
                </div>
                <div style="flex: 1;"></div>
            </div>
            <div style="margin-right: 30px;text-align: right;display: flex;flex-direction: column;height: 100%;">
                <div style="display: flex;flex: 1;align-items: center;justify-items: center;letter-spacing: 4px;">
                    <span style="flex:1;"><a href="/link" style="color:#C32528;font-weight:300;">友情链接</a></span>
                    <span style="flex:1;"><a href="/about" style="color:#C32528;font-weight:300;">关于网站</a></span>
                    <span style="flex:1;"><a href="https://github.com/go-water/water" style="color:#C32528;font-weight:300;" target="_blank">go-water</a></span>
                    <span style="flex:1;"><a href="https://github.com/go-water/go-water" style="color:#C32528;font-weight:300;" target="_blank">网站源码</a></span>
                    <span style="flex:1;margin-right: 10px;"><a href="/reward" style="color:#C32528;font-weight:300;">打赏站长</a></span>
                </div>
                <div style="display: flex;flex: 1;border-top: 1px dashed #18ADB8;text-align: center;color:#999999;align-items: center;letter-spacing: 4px;">
                    此网站是go-water框架的官方网站，介绍go-water设计思想，以及相关的开源技术
                </div>
            </div>
        </div>
    </div>
</div>