{{define "_header"}}
<div id="header" style="flex: 0 0 80px;" class="d-flex">
  <div class="d-flex flew-row flex-fill" style="height: 80px;">
    <div>
      <a href="/" class="d-flex"><img src="/banner.png" height="80"></a>
    </div>
    <div class="flex-fill"></div>
  </div>
  <div style="max-width: 1300px;" class="d-flex flex-fill align-items-end justify-content-end px-4 py-3">
    <div class="d-flex flex-row">
      <div>
        <a href="/admin/list">文章列表</a>
      </div>
      <div class="ms-4">
        <a href="/admin/add">添加文章</a>
      </div>
    </div>
  </div>
</div>{{end}}