<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="description" content="">
    <link href="/styles/site.css?202302181549" rel="stylesheet">
    <link href="/styles/markdown.css?202302181549" rel="stylesheet">
    {{ part "title" }}
</head>
<body spellcheck="false">
<div style="display:flex;flex-direction: column;margin:0 auto 0 auto;max-width: 1300px;height: 100%;">
{{ render "shared/_toper.html"}}
<div style="flex:1;width: 100%;background: #ffffff;" id="main">
    {{ yield }}
</div>
<div style="width: 100%;" id="footer">
    {{render "shared/_footer.html"}}
</div>
</div>
</body>
</html>