{{ define "reward-title"}}
<title>{{.title}}</title>
{{ end }}

<div id="pay">
    <div style="padding:30px 20px 30px 20px;">
        <div>爱斯园创立于2014年，前期基于 .Net Core 技术开发，2020年01月更新成 Go iris 框架，使用 mysql 数据库，redis 管理登陆会话，Ubuntu、Docker-compose 单机部署。</div>
        <div style="margin-top: 30px;">网站主要介绍 <a href="https://github.com/go-water/water" target="_blank">go-water</a> 框架，以及一些技术文章分享。目前已为程序员们提供 <strong style="color:#ff0000;">{{.body}}</strong> 次服务。</div>
        <div style="margin-top:30px;">网站源码：<a href="https://github.com/go-water/go-water" target="_blank">https://github.com/go-water/go-water</a></div>
    </div>
</div>