{{ define "about-title"}}
<title>{{.title}}</title>
{{ end }}

<div class="p-4">
    <div>爱斯园创立于2014年，前期基于 .Net Core 技术开发，2020年01月更新成 Go iris 框架，使用 mysql 数据库，redis 管理登陆会话，Ubuntu、Docker-compose 单机部署。</div>
    <div class="mt-4">网站主要介绍 <a href="https://github.com/go-water/water" target="_blank">go-water</a> 框架，以及一些技术文章分享。目前已为程序员们提供 <strong class="text-danger">{{.body}}</strong> 次服务。</div>
    <div class="mt-4">网站源码：<a href="https://github.com/go-water/go-water" target="_blank">https://github.com/go-water/go-water</a></div>
</div>