{{define "content"}}
<div class="p-4">
    <div class="fs-6" style="letter-spacing: 2px;line-height: 1.5;">
        <img src="https://go-water.cn/images/2023/2019011507005730.jpg" class="mx-5 float-start w-25 pe-5"/>

        <div class="ms-4 my-4">乱石穿空，惊涛拍岸，卷起千堆雪……。爱斯园创立于2014年，前期基于 .net core 技术开发，2020年改用 golang 开发，使用 mysql 数据库，ubuntu、docker-compose 单机部署。</div>

        <div class="mt-4">从2023年开始，网站主要用来介绍 <strong>https://github.com/go-water/water</strong> 框架，以及一些相关开源技术。网站属于个人网站，不提供注册登录功能。</div>

        <div class="mt-4">全站文档，文章都采用 Markdown 格式编辑和发布，样式使用 github 的 markdown 样式。</div>
    </div>
</div>
{{end}}