{{define "content"}}
<div class="bg-white">
    {{range .body}}
    <div class="d-flex flex-row mx-4 border-bottom">
        <div class="py-4">
            <img class="lazy" src="/placeholder.jpg" data-original="{{.Icon}}" width="180" height="110">
        </div>
        <div class="flex-fill p-4">
            <div>
                <a href="/article/{{.UrlID}}" style="font-size:18px;font-weight:bold;letter-spacing: 1px;">{{.Title}}</a>
            </div>
            <div class="my-2">
                <div style="max-height:44px;color:#999;overflow:hidden;font-size:14px;line-height:22px;letter-spacing: 1px;">
                    {{.Brief}}
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>

<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<script>
    $("img.lazy").lazyload({
        threshold: 100
    });
</script>
{{end}}