{{define "content"}}
<div class="d-flex flex-fill w-100">
    <div class="px-2 py-4 col-3 border-end">
        {{range .body.List}}
        <div class="d-flex align-items-center justify-content-center mb-1">
            <div><img src="/list.png"></div>
            <div class="flex-fill">
                <a href="/doc/{{.UrlID}}">{{.Title}}</a>
            </div>
        </div>
        {{end}}
    </div>
    <div class="p-4 col-9">
        <div class="markdown-body">
            {{.body.Body}}
        </div>
    </div>
</div>
{{end}}